.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link1 {
  text-decoration: none;
}
 
.navbar8-link21 {
  text-decoration: none;
}
 
.navbar8-link22 {
  font-size: 33px;
  text-decoration: none;
}
 
.navbar8-buttons {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action1 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-link3 {
  text-decoration: none;
}
 
.navbar8-action2 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-link4 {
  text-decoration: none;
}
 
.buck-norris-fragment2 {
  display: contents;
}
 
.buck-norris-text11 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.buck-norris-fragment4 {
  display: contents;
}
 
.buck-norris-text13 {
  display: inline-block;
}
 
.buck-norris-fragment3 {
  display: contents;
}
 
.buck-norris-text12 {
  display: inline-block;
  text-decoration: underline;
}
 
.buck-norris-fragment1 {
  display: contents;
}
 
.buck-norris-text10 {
  display: inline-block;
  font-size: 33px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.buck-norris-fragment5 {
  display: contents;
}
 
.buck-norris-text14 {
  display: inline-block;
}
 
.navbar8root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #f9f7f7;
  opacity: 1;
  background-color: #623e0e;
}
 
.navbar8root-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #f9f7f7;
  opacity: 1;
  background-color: #623e0e;
}
 
.navbar8root-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  left: var(--dl-layout-space-threeunits);
  color: #f9f7f7;
  right: var(--dl-layout-space-threeunits);
  opacity: 1;
  background-color: #623e0e;
}
 
@media(max-width: 1200px) {
  .buck-norris-text11 {
    font-size: 33px;
  }
  .buck-norris-text10 {
    font-size: 33px;
  }
}
 
@media(max-width: 991px) {
  .navbar8-link1 {
    font-size: 33px;
  }
  .buck-norris-text11 {
    font-size: 33px;
    font-family: Spectral;
  }
  .buck-norris-text12 {
    font-family: Spectral;
  }
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar8-desktop-menu {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
}

.hero3-wrapper {
  display: contents;
}
 
.hero3-header9 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.hero3-content {
  display: flex;
  justify-content: center;
}
 
.hero3-max-width {
  align-self: center;
  align-items: center;
}
 
.hero3-column1 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero3-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.hero3-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.buck-norris-fragment6 {
  display: contents;
}
 
.buck-norris-text15 {
  display: inline-block;
  font-size: 33px;
}
 
.buck-norris-fragment7 {
  display: contents;
}
 
.buck-norris-text16 {
  display: inline-block;
  font-size: 55px;
}
 
@media(max-width: 991px) {
  .hero3-column1 {
    width: 100%;
  }
  .hero3-column2 {
    width: auto;
  }
  .buck-norris-text15 {
    font-size: 16px;
  }
}
 
@media(max-width: 767px) {
  .hero3-max-width {
    flex-direction: column;
  }
  .hero3-text1 {
    text-align: center;
  }
  .hero3-text2 {
    text-align: center;
  }
}

.logos9-wrapper {
  display: contents;
}
 
.logos9-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos9-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos9-text1 {
  text-align: center;
}
 
.logos9-container2 {
  width: 100%;
}
 
.logos9-logo1 {
  width: 200px;
  object-fit: contain;
}
 
.logos9-logo2 {
  width: 200px;
  object-fit: contain;
  text-decoration: none;
}
 
.logos9-logo3 {
  width: 200px;
  object-fit: contain;
}
 
.logos9-container5 {
  display: contents;
}
 
.logos9-text2 {
  font-size: 34px;
  text-align: center;
}
 
.buck-norris-fragment9 {
  display: contents;
}
 
.buck-norris-text21 {
  display: inline-block;
}
 
.buck-norris-fragment8 {
  display: contents;
}
 
.buck-norris-text20 {
  display: inline-block;
  font-size: 44px;
  font-family: "Spectral";
}
 
.logos9root-class-name {
  align-self: center;
}
 
@media(max-width: 767px) {
  .logos9-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos9-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}

.buck-norris-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #230101;
}
 
.buck-norris-component1 {
  text-decoration: none;
}
 
.buck-norris-fragment1 {
  display: contents;
}
 
.buck-norris-text10 {
  display: inline-block;
  font-size: 33px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.buck-norris-fragment2 {
  display: contents;
}
 
.buck-norris-text11 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.buck-norris-fragment3 {
  display: contents;
}
 
.buck-norris-text12 {
  display: inline-block;
  text-decoration: underline;
}
 
.buck-norris-fragment4 {
  display: contents;
}
 
.buck-norris-text13 {
  display: inline-block;
}
 
.buck-norris-fragment5 {
  display: contents;
}
 
.buck-norris-text14 {
  display: inline-block;
}
 
.buck-norris-fragment6 {
  display: contents;
}
 
.buck-norris-text15 {
  display: inline-block;
  font-size: 33px;
}
 
.buck-norris-fragment7 {
  display: contents;
}
 
.buck-norris-text16 {
  display: inline-block;
  font-size: 55px;
}
 
.buck-norris-link1 {
  display: contents;
}
 
.buck-norris-image1 {
  width: 635px;
  height: 626px;
  object-fit: cover;
  text-decoration: none;
}
 
.buck-norris-link2 {
  font-size: 33px;
  padding-top: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.buck-norris-text17 {
  font-size: 44px;
  font-family: "Spectral";
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.buck-norris-text18 {
  text-decoration: underline;
}
 
.buck-norris-link3 {
  display: contents;
}
 
.buck-norris-image2 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.buck-norris-fragment8 {
  display: contents;
}
 
.buck-norris-text20 {
  display: inline-block;
  font-size: 44px;
  font-family: "Spectral";
}
 
.buck-norris-fragment9 {
  display: contents;
}
 
.buck-norris-text21 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .buck-norris-text10 {
    font-size: 33px;
  }
  .buck-norris-text11 {
    font-size: 33px;
  }
}
 
@media(max-width: 991px) {
  .buck-norris-text11 {
    font-size: 33px;
    font-family: Spectral;
  }
  .buck-norris-text12 {
    font-family: Spectral;
  }
  .buck-norris-text15 {
    font-size: 16px;
  }
  .buck-norris-image1 {
    height: 697px;
  }
  .buck-norris-link2 {
    font-size: 24px;
  }
}
 
@media(max-width: 767px) {
  .buck-norris-image1 {
    height: 545px;
  }
}
 
@media(max-width: 479px) {
  .buck-norris-image1 {
    height: 351px;
  }
  .buck-norris-text17 {
    font-size: 20px;
    font-family: Spectral;
  }
  .buck-norris-text18 {
    text-decoration: underline;
  }
}
