.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link1 {
  text-decoration: none;
}
 
.navbar8-link21 {
  text-decoration: none;
}
 
.navbar8-link22 {
  font-size: 33px;
  text-decoration: none;
}
 
.navbar8-buttons {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action1 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-link3 {
  text-decoration: none;
}
 
.navbar8-action2 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-link4 {
  text-decoration: none;
}
 
.contact-fragment2 {
  display: contents;
}
 
.contact-text2 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.contact-fragment4 {
  display: contents;
}
 
.contact-text4 {
  display: inline-block;
}
 
.contact-fragment3 {
  display: contents;
}
 
.contact-text3 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.contact-fragment1 {
  display: contents;
}
 
.contact-text1 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
}
 
.contact-fragment5 {
  display: contents;
}
 
.contact-text5 {
  display: inline-block;
}
 
.navbar8root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #f9f7f7;
  opacity: 1;
  background-color: #623e0e;
}
 
.navbar8root-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #f9f7f7;
  opacity: 1;
  background-color: #623e0e;
}
 
.navbar8root-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  left: var(--dl-layout-space-threeunits);
  color: #f9f7f7;
  right: var(--dl-layout-space-threeunits);
  opacity: 1;
  background-color: #623e0e;
}
 
@media(max-width: 1200px) {
  .contact-text2 {
    font-size: 33px;
  }
  .contact-text1 {
    font-size: 33px;
  }
}
 
@media(max-width: 991px) {
  .navbar8-link1 {
    font-size: 33px;
  }
  .contact-text2 {
    font-size: 33px;
    font-family: Spectral;
  }
  .contact-text3 {
    font-family: Spectral;
  }
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar8-desktop-menu {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
}

.contact-form3-wrapper {
  display: contents;
}
 
.contact-form3-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form3-image1 {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.contact-form3-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
 
.contact-form3-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form3-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-text-input1 {
  color: #ffffff;
  background-color: #000000;
}
 
.contact-form3-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form3-text-input2 {
  color: #ffffff;
  background-color: #000000;
}
 
.contact-form3-container {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form3-textarea {
  color: #ffffff;
  background-color: #000000;
}
 
.contact-form3-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form3-text16 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-form3-button {
  align-self: flex-start;
}
 
.contact-form3-action1 {
  text-decoration: none;
}
 
.contact-fragment6 {
  display: contents;
}
 
.contact-text6 {
  display: inline-block;
}
 
.contact-fragment7 {
  display: contents;
}
 
.contact-text7 {
  display: inline-block;
}
 
.contact-fragment9 {
  display: contents;
}
 
.contact-text9 {
  display: inline-block;
}
 
.contact-fragment8 {
  display: contents;
}
 
.contact-text8 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .contact-form3-max-width {
    flex-direction: column;
  }
  .contact-form3-content1 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form3-image1 {
    width: 100%;
  }
}

.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #c02425 0%, #f0cb35 100%);
}
 
.contact-component1 {
  text-decoration: none;
}
 
.contact-fragment1 {
  display: contents;
}
 
.contact-text1 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
}
 
.contact-fragment2 {
  display: contents;
}
 
.contact-text2 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.contact-fragment3 {
  display: contents;
}
 
.contact-text3 {
  display: inline-block;
  font-size: 33px;
  font-family: "Spectral";
  text-decoration: underline;
}
 
.contact-fragment4 {
  display: contents;
}
 
.contact-text4 {
  display: inline-block;
}
 
.contact-fragment5 {
  display: contents;
}
 
.contact-text5 {
  display: inline-block;
}
 
.contact-fragment6 {
  display: contents;
}
 
.contact-text6 {
  display: inline-block;
}
 
.contact-fragment7 {
  display: contents;
}
 
.contact-text7 {
  display: inline-block;
}
 
.contact-fragment8 {
  display: contents;
}
 
.contact-text8 {
  display: inline-block;
}
 
.contact-fragment9 {
  display: contents;
}
 
.contact-text9 {
  display: inline-block;
}
 
@media(max-width: 1200px) {
  .contact-text1 {
    font-size: 33px;
  }
  .contact-text2 {
    font-size: 33px;
  }
}
 
@media(max-width: 991px) {
  .contact-text2 {
    font-size: 33px;
    font-family: Spectral;
  }
  .contact-text3 {
    font-family: Spectral;
  }
}
